.blogTextSlider {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.postThumb {
  transition: height 500ms ease;
  transition: width 500ms ease;
}
@media (min-width: 768px) {
  .postThumb {
    width: calc(50% - 15px);
    float: left;
    margin: 0 20px 0 0;
  }
}
.postThumb {
  margin-right: 50px;
  width: 370px;
  height: 425px;
}
@media (max-width: 1199px) {
  .postThumb {
    margin-right: 40px;
    width: 296px;
    height: 340px;
  }
}
@media (max-width: 991px) {
  .postThumb {
    width: calc(50% - 15px);
    height: 360px;
  }
}
@media (max-width: 768px) {
  .postThumb {
    margin-right: 0;
    width: 100%;
  }
}
@media (min-width: 991px) {
  .postThumb {
    margin: 0 30px 0 0;
  }
}

.postThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}
.postExcerpt {
  max-width: 30em;
  margin-bottom: 25px;
}
.excerpt {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
}

.slick-arrow {
  display: none !important;
}
.slick-dots {
  position: absolute !important;
  left: -8% !important;
  top: 20% !important;
  display: flex !important;
  width: fit-content !important;
  flex-direction: column !important;
  margin-right: 50px !important;
  padding: 75px 0 0 !important;
  text-align: center !important;
  line-height: 1 !important;
  transition: left 500ms ease-out !important;
  transition: top 500ms ease-out !important;
}
@media (max-width: 767px) {
  .slick-dots {
    left: 0 !important;
    top: 86% !important;
    flex-direction: row !important;
    margin: 20px 0 0 0;
  }
}
@media (max-width: 890px) and (min-width: 768px) {
  .slick-dots {
    left: 0% !important;
  }
}
.slick-dots li button:before {
  font-size: 13px !important;
}
.slick-dots li {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}
@media (max-width: 890px) and (min-width: 768px) {
  .slide-content {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.slick-track {
  left: 1px !important;
}

/* ///////////////////////////////// */
.post--horizontal-large .postThumb {
  width: 100%;
  margin: 0 15px 5px 0;
}
