.wrapperSignUpBg {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1)
      ),
      url("/images/backgroundsignup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }